<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 align="center">LOGIN</h3>
    <article>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
            <form align="center" method="post" action="/">
                <label for="nome" style="height:50px;" size="50">USER NAME</label><br><br>
                <input type="text" id="user" name="user"  style="height:50px;" size="50" required><br><br>
                <label for="cognome">PASSWORD:</label><br><br>
                <input type="password" id="psw" name="psw" style="height:50px;" size="50" required><br><br>
                <input type="submit" id="registrati" value="REGISTRATI" style="height:50px;" size="50"><br><br>
            </form>
        </div>
    </article>

</body>
</html>