/* Stile per la pagina */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Stile per i pulsanti */
input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

/* Stile per la casella di testo */
#speciale {
    font-size: 16px;
    width: 200px;
}

/* Stile per il titolo */
h3 {
    color: #333;
}

/* Stile generale per il form */
form {
    margin-top: 20px;
}

/* Stile per centrare il pulsante "submit" */
#submit-btn {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

#speciale{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}
